@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #54F4D0;
}

/* Sidebar initial collapsed state */
.sidebar {
  background-color: #1DD2AF;
  width: 6vw;
  height: 100vh;
  max-width: 97px;
  transition: width 0.3s ease;
  overflow: hidden;
}

/* Expanded sidebar */
.sidebar.expanded {
  width: 20vw;
  max-width: 200px;
}

/* Sidebar expansion on hover */
.sidebar:hover {
  width: 20vw;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.nav-text {
  display: inline;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-text {
  opacity: 0;
  pointer-events: none;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
