@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #54F4D0;
}

/* ********************************************* */
/* *************** NAV /SIDEBAR **************** */
/* ********************************************* */

/* Sidebar initial collapsed state */
.sidebar {
  background-color: #1DD2AF;
  width: 6vw;
  height: 100vh;
  max-width: 97px;
  transition: width 0.3s ease;
  overflow: hidden;
}
/* Expanded sidebar */
.sidebar.expanded {
  width: 20vw;
  max-width: 200px;
}
/* Sidebar expansion on hover */
.sidebar:hover {
  width: 20vw;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}
.nav-text {
  display: inline;
  transition: opacity 0.3s ease;
}
.sidebar.collapsed .nav-text {
  opacity: 0;
  pointer-events: none;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ********************************************* */
/* ************ END -- NAV /SIDEBAR ************ */
/* ********************************************* */

.home-page {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items */
  padding: 20px; /* Add some padding */
}

.movies-list {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center cards horizontally */
  gap: 20px; /* Space between cards */
  width: 100%; /* Optional: full width */
  max-width: 1200px; /* Optional: max width for better alignment */
}

.movie-card { /* Assuming MovieCard component has this class */
  flex: 0 1 200px; /* Base width for each card, adjust as necessary */
  margin: 10px; /* Optional margin */
  text-align: center; /* Center text inside the card */
}
